
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold-700.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Peaches-and-cream';
  src: url('./fonts/Peaches-and-Cream-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir-light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  min-width: 320px;
  background-image: url("./imgs/fondo-gyp-lc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-wrap{
  width: 100%;
  color: white;
  text-align: center;
}

@media all and (max-width: 824px){
  .welcome{ height: 250px;}
}

@media all and (max-width: 467px){
  .welcome{ height: 300px;}
}
@media all and (max-width: 408px){
  .welcome{ height: 350px;}
}
