* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  background-image: url("./imgs/fondo-gyp-lc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;

}
